* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

body {
  background-image: linear-gradient(90deg, rgba(18, 18, 122, 1) 0%, rgba(2, 0, 36, 1) 0%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #050e2d;
  border-radius: 6px;
}


.navbar {
  background-color: #050e2d;
  border-bottom: 2px solid #1aeeef;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 2.5vh;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  background-color: #1aeeef;
  color: #050e2d;
  box-shadow: 0 0 15px #1aeeef, 0 0 20px #1aeeef;
}

.header1 {
  font-size: 50px;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  text-align: center;
  display: flex;
}

.form-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: none;
  color: white;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input,
textarea,
.submit {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit {
  background-color: #1aeeef;
  color: #050e2d;
  border: none;
  transition: opacity 0.5s;
  font-size: 3vh;
}

.submit:hover {
  opacity: 0.7;
  cursor: pointer;
}

.submit:active {
  opacity: 0.3;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: linear-gradient(90deg, rgba(18, 18, 122, 1) 0%, rgba(2, 0, 36, 1) 0%);
  border-top: 1px solid #ddd;
  font-family: Ubuntu, sans-serif;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.3);
}

.footer-content {
  max-width: 100%;
  text-align: left;
  line-height: 1.6;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.Legal {
  color: hsla(0, 0%, 100%, 0.3);
  font-weight: bolder;
  margin: 0;
  flex: 2;
}

.footer-right {
  color: hsla(0, 0%, 100%, 0.3);
  font-size: 18px;
  text-align: right;
}

.footer-row i {
  color: hsla(0, 0%, 100%, 0.3);
  margin-left: 10px;
  cursor: pointer;
}

.footer-row .footer-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Add spacing between icons */
}

.footer-row i:hover {
  color: #1aeeef;
  transform: scale(1.2);
}